<div>
    <label for="combobox" class="block text-sm font-medium text-white">Payment Method</label>
    <div class="relative mt-2">
      <div
      class="w-full rounded-md border border-zinc-600 bg-zinc-700 py-2 pl-3 pr-12 shadow-sm sm:text-sm">
        {{ selectedItem }}
      </div>
      <button (click)="toggle()" type="button" class="absolute inset-y-0 w-full right-0 flex flex-row-reverse items-center rounded-r-md px-2 focus:outline-none">
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      <ul [ngClass]="{'hidden': !open}" class="absolute z-10 mt-1 max-h-48 w-full overflow-auto rounded-md bg-zinc-600 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" id="options" role="listbox">
        <li *ngFor="let item of items"  (click)="choose(item)" [ngClass]="{'font-semibold': item === selectedItem}"
          class="group relative cursor-default select-none py-2 pl-3 pr-9 text-white hover:bg-zinc-500" role="option" tabindex="-1">
            <div class="flex items-center">
              <span class="ml-3 truncate">{{item}}</span>
            </div>

            <span [ngClass]="{'hidden': item !== selectedItem}" class="absolute inset-y-0 right-0 flex items-center pr-4 text-white group-hover:text-gray-400">
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </li>
      </ul>
    </div>
  </div>
